* {
    box-sizing: border-box;
}

body {
    background-color: gray;
}
.slider {
    position: relative;
    /* изменить размер  */
    max-width: 400px; 
    margin: auto;
    overflow: hidden;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 100%;
}