<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/css/Breadcrumb.css">
    <title>Breadcrumb Пример</title>
</head>
<body>
    <h1>Breadcrumb</h1>

<nav class="breadcrumb">
    <a href="#">Главная</a>
    <span class="separator">/</span>
    <a href="#">Категория</a>
    <span class="separator">/</span>
    <a href="#">Подкатегория</a>
    <span class="separator">/</span>
    <span class="current">Текущая страница</span>
</nav>

</body>
</html>
