<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/css/dropdown.css">
    <title>Dropdown Menu Example</title>
</head>
<body>

<div class="dropdown">
    <button class="dropbtn">Меню</button>
    <div class="dropdown-content">
        <a href="#">Ссылка 1</a>
        <a href="#">Ссылка 2</a>
        <a href="#">Ссылка 3</a>
    </div>
</div>
<p>1. HTML создает кнопку и скрытое выпадающее меню с тремя ссылками.

    2. CSS стилизует кнопку и выпадающее меню, скрывая его по умолчанию.
    
    3. При наведении на контейнер .dropdown содержимое .dropdown-content становится видимым.</p>

</body>
</html>
