<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/css/pagination.css">
    <title>Пагинация</title>
</head>
<body>

<div class="pagination">
    <a href="#" class="prev">« Назад</a>
    <a href="#" class="active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#" class="next">Вперед »</a>
</div>
<p>1. HTML создает структуру пагинации с ссылками на страницы и кнопками "Назад" и "Вперед".

    2. CSS стилизует элементы пагинации, добавляя отступы, рамки и эффекты при наведении.</p>

</body>
</html>
