<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/css/toasts.css">
    <title>Toast Notifications Example</title>
</head>
<body>

    <div class="container">
        <button id="showToastButton">Показать уведомление</button>
    </div>

    <div id="toastContainer"></div>
    <hr>
    <p>1. HTML создает кнопку для показа уведомления и контейнер для toasts.

        2. CSS стилизует кнопку и уведомления, добавляя эффекты появления и исчезновения.
        
        3. JavaScript добавляет обработчик события на кнопку. При нажатии на кнопку создается новый элемент уведомления, который добавляется в контейнер. Уведомление будет отображаться в течение 3 секунд, после чего плавно исчезнет.</p>

    
    <script src="/components/js/toasts.js"></script>
</body>
</html>
