<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/css/your_vipadau_menu.css">
    <title>menu</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="dropdown">
                <div class="dropdown_label"><p class="p">Меню</p></div>
                <div class="dropdown_menu">
                    <ul class="sub_menu">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">о нас</a></li>
                        <li><a href="#">Продукция</a></li>
                        <li><a href="#">Карта</a></li>
                        <li><a href="#">Пункт</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
</body>
</html>