body {
    font-family: Arial, sans-serif;
    background-color: gray;
}

.collapse-container {
    margin: 10px 0;
}

.collapse-header {
    background-color: #007BFF; /* Цвет фона заголовка */
    color: white; /* Цвет текста */
    padding: 10px; /* Внутренние отступы */
    cursor: pointer; /* Указатель при наведении */
    border-radius: 5px; /* Закругленные углы */
}

.collapse-content {
    display: none; /* Скрываем содержимое по умолчанию */
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #007BFF; /* Рамка */
    border-radius: 5px; /* Закругленные углы */
    margin-top: 5px; /* Отступ сверху */
}
