/* Основной стиль для тела страницы */
body {
    background-color: gray; /* Цвет фона страницы */
}

/* Стиль для абзацев */
.p {
    color: black; /* Цвет текста абзацев */
}

/* Контейнер для содержимого */
.container {
    width: 80%; /* Ширина контейнера */
    min-width: 1080px; /* Минимальная ширина контейнера */
    margin: 1em auto; /* Отступ сверху и снизу, центрирование по горизонтали */
}

/* Стиль для выпадающего меню */
.dropdown {
    display: inline-block; /* Отображение в строке */
    position: relative; /* Позволяет позиционировать дочерние элементы относительно этого элемента */
}

/* Стиль для метки выпадающего меню */
.dropdown_label {
    padding: 1px 1.5em; /* Внутренние отступы */
    border: 1px solid rgb(27, 49, 70); /* Рамка */
    background-color: rgba(175, 118, 118, 0.219); /* Фоновый цвет с прозрачностью */
    cursor: pointer; /* Указатель курсора при наведении */
}

/* Скрытое выпадающее меню */
.dropdown_menu {
    display: none; /* Скрыто по умолчанию */
    position: absolute; /* Абсолютное позиционирование относительно родителя */
    left: 0; /* Сместить влево */
    top: 3.4em; /* Расположение ниже метки */
    min-width: 100%; /* Минимальная ширина равна ширине родителя */
    background-color: rgb(102, 102, 102); /* Фоновый цвет меню */
}

/* Отображение меню при наведении на родительский элемент */
.dropdown:hover .dropdown_menu {
    display: block; /* Показывает меню при наведении */
}

/* Стили для подменю */
.sub_menu {
    padding-left: 0; /* Убирает отступ слева */
    margin: 0; /* Убирает внешние отступы */
    list-style-type: none; /* Убирает маркеры списка */
}

/* Граница между элементами подменю */
.sub_menu > li + li {
    border-top: 1px solid #999; /* Граница между элементами подменю */
}

/* Стили для ссылок в подменю */
.sub_menu > li > a {
    display: block; /* Блочное отображение для ссылки */
    padding: 0.4em 1.5em; /* Внутренние отступы */
    background-color: #eee; /* Фоновый цвет ссылки */
    color: black; /* Цвет текста ссылки */
    text-decoration: none; /* Убирает подчеркивание у ссылок */
}

/* Эффект при наведении на ссылки в подменю */
.sub_menu > li > a:hover {
    background-color: aqua; /* Изменяет фон при наведении */
}
